/* $primary-color: #00E18F; 
$secondary-color: #00C7C6;
$third-color: #3E2B5F;
$opacity-background: rgba(0, 199, 199, 0.893);
$button-third: rgba(62, 43, 95, 0.9);
$fourth-color: rgb(242, 242, 242); */

/* $font-general: */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


